@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            
            <div class="panel panel-default">
                <div class="panel-heading"> <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> <b>&nbsp;  Add new thing to do</b></div>
                <div class="panel-body">
                    <!-- FORM -->
                    <form>
                        <div class="form-group row">
                            <label class="col-md-3" for="Description">Thing to do</label>
                            <div class="col-md-9">
                                <textarea id=" Description" class="form-control" rows="2" data-bind='value: Description,valueUpdate: "afterkeydown", hasFocus: Description()' placeholder="Enter thing to do..." autofocus></textarea>
                            </div>
                        </div>  <!-- END Description = Thing to Do -->

                        <div class="form-group row" style="display:none;" id="IsDone-group">
                            <label class="col-md-3" for="IsDone">Is Done</label>
                            <div class="col-md-9">
                                <input type="checkbox" class="checkbox" id="IsDone" data-bind="checked: IsDone" />
                            </div>
                        </div>  <!-- IsDone -->

                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-9">
                                <button type="button" class="btn btn-success btn-sm" data-bind="enable: Description().length > 0, click: addNewToDo" id="Save">
                                    <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save
                                </button>
                                <button type="button" class="btn btn-info btn-sm space" data-bind="click: clearFields" id="Clear">
                                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Clear
                                </button>
                                <button type="button" class="btn btn-warning btn-sm" data-bind="click:updateToDo " style="display:none;" id="Update">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Update
                                </button>
                                <button type="button" class="btn btn-default btn-sm space" data-bind="click:cancel " style="display:none;" id="Cancel">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
                                </button>
                            </div>
                        </div>

                    </form> <!-- END FORM -->
                </div> <!-- END PANEL BODY-->
            </div> <!-- END PANEL-->
        </div> <!-- END  col-md-8 -->
    </div> <!-- END row -->

    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>  <b>&nbsp; List of thing to do </b>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></th>
                                <th>Thing to Do</th>
                                <th><select class="form-control" data-bind="options: selectedItems, value: selected"></select></th>
                                <th><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></th>
                            </tr>
                        </thead> <!-- END THEAD -->
                        <tbody data-bind="foreach: filteredIsDoneItems">
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-warning btn-xs">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" data-bind="click: $root.detailToDo" title="Edit item"></span>
                                    </button>
                                </td>
                                <td> <span data-bind="text: Description"></span></td>
                                <td> <input class="checkbox" type="checkbox" data-bind="checked: IsDone" disabled></td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-xs">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true" data-bind="click: $root.deleteToDo" title="Delete item"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody> <!-- END TBODY -->
                    </table> <!-- END TABLE -->

                </div> <!-- END PANEL-BODY -->
            </div> <!-- END PANEL -->
        </div>  <!-- END col-md-8 -->
    </div> <!-- END row -->
</div> <!-- END CONTAINER-->

